.post {
  width: 100%;
  padding-block: 70px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      gap: 30px;
    }
  }

  &__date {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 20px;
  }

  .button {
    white-space: nowrap;
  }
}
