html {
  min-height: 100%;
  width: 100%;
  height: auto;
}

#root,
.main {
  width: 100%;
  min-height: calc(100vh - 100px);

  @media (min-width: 768px) {
    min-height: calc(100vh - 60px);
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  padding-top: 60px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  text-align: left;
  letter-spacing: normal;
  font-style: normal;
  overflow: auto;
  overflow-x: hidden;
}

h1,
h2,
p {
  margin: 0;
}

.container {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: 1248px) {
    padding: 0 54px;
  }
}

.button {
  display: inline-flex;
  vertical-align: middle;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  min-height: 40px;
  padding: 4px 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  background: none;
  color: #4158D0;
  background: #FFFFFF;
  outline: none;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  overflow: hidden;
  cursor: pointer;
  transition:
          background-color 0.3s ease-out,
          color 0.3s ease-out,
          border-color 0.3s ease-out;
  z-index: 1;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &_bordered {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: transparent;
  }
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

img {
  border: none;
}

.input {
  cursor: text;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: #4158D0;
  transition: background-color .3s;
  background: #FFFFFF;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid #4158D0;

  }
}

.form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  margin: auto auto;
  background: rgba(#FFFFFF, 0.2);
  border: 0.5px solid #FFFFFF;
  backdrop-filter: blur(3px);
  border-radius: 8px;

  a {
    text-decoration: underline;
  }

  &__header {
    display: flex;
    gap: 10px;
  }
}
